<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Terrace Gig</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/allproducts.css">

</head>

<body style="overflow-x: hidden;">
  <%- include('partials/header'); -%>

 </section>

  <div class="click">
    <div class="second-nav">
      <div class="column-xs-12">
          <div class="head">All Products</div>
      </div>
    </div>
  
    <div class="grid">
        <% datas.forEach( data =>{ %>
        <div id="gallery" class="container-fluid ">
              <% data.forEach(function(p) { %>
              <div class="row">  
                <div class="product">
                  <img class="img-border" style="border-color: #8A0204;" src="/images/<%-p.img[0]%>"/>
                  <div class="product-name"><%-p.title %></div>
                  <div class="product-name"><%-p.description%></div>
                  <div class="product-name"><%-p.category%></div>
                  <div class="product-price"><%-p.price %></div>
                  <a href="/productdetail/<%=p._id%>">View Product</a>
                </div>
              </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
  </div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>

  </div>
</div>
           
      </div>
     
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div>
    
      </div>
    </div>
  </div>

<div class="footer justify-content-center">
 <div>@theterracegig</div>
 <div>TerraceGig@Gmail.com</div>
 <div>@theterracegig</div>
</div>
 

<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#gallery .product").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script>
//   (function(){
//  $(".click").on("click", function() {
//    $(".shopping-cart").fadeToggle( "fast");
//  });
// })();
</script>

</body>

</html>